<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- head -->
<th:block th:replace="fragments :: head"></th:block>

<body class="bg-light">
<!-- nav -->
<th:block th:replace="fragments.html :: main-nav"></th:block>

<div class="container">
    <div class="py-5 text-center">
        <h2>계정 만들기</h2>
    </div>
    <div class="row justify-content-center">

    </div>
<!-- footer -->
<th:block th:replace="fragments.html :: footer"></th:block>
</div>

<script type="application/javascript">
    (function() {//input required 검증

    }());
</script>

<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>