<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- head -->
<th:block th:replace="fragments :: head"></th:block>

<body class="bg-light">
    <!-- nav -->
    <th:block th:replace="fragments.html :: main-nav"></th:block>

    <!--경고창-->
    <div class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}">
        스터디올레 가입을 완료하려면 <a href="#" th:href="@{/check-email}" class="alert-link">계정 인증 이메일을 확인</a>하세요.
    </div>



    <div class="container">
        <div class="py-5 text-center">
            <h2>계정 만들기</h2>
        </div>
        <div class="row justify-content-center">

        </div>
    <!-- footer -->
    <th:block th:replace="fragments.html :: footer"></th:block>
    </div>

<script type="application/javascript">
    (function() {//input required 검증

    }());
</script>

</body>
</html>